:root {
  --firebrick: #d01c1d;
  --white: white;
  --black: #18181d;
  --white-smoke: whitesmoke;
  --seashell: #fff4ec;
  --red: #d92c01;
  --dark-grey: rgba(170, 170, 170, .2);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #767676;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
}

.menu-icon {
  display: inline-block;
  position: relative;
}

.brand {
  align-items: center;
  padding-left: 0;
  display: flex;
}

.brand:hover {
  opacity: .7;
}

.brand.w--current {
  margin-right: 20px;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  font-size: 16px;
  display: inline-block;
}

.nav-link:hover {
  opacity: .7;
}

.nav-link.w--current {
  opacity: .7;
  color: var(--firebrick);
}

.menu-button {
  margin-left: 24px;
  padding: 0;
}

.menu-button:hover {
  opacity: .7;
}

.menu-button.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.belt-decoration {
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.belt-decoration.red {
  width: 20%;
  background-color: var(--firebrick);
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  left: auto;
  right: 15%;
}

.button-arrow {
  flex: none;
  margin-left: 20px;
  display: inline-block;
}

.section {
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 140px;
  padding-bottom: 60px;
}

.section.centered {
  display: flex;
}

.nav-wrap {
  grid-column-gap: 36px;
  grid-row-gap: 0px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-wrap {
  align-items: center;
  display: flex;
}

.nav-logo {
  color: #000;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

.navbar1 {
  z-index: auto;
  width: 100%;
  grid-column-gap: 36px;
  grid-row-gap: 30px;
  background-color: #fff;
  border-bottom: 1px solid #ebedee;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 22px 36px;
  font-weight: 500;
}

.navbar1.active-nav1 {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  margin-right: 16px;
}

.button {
  width: 250px;
  border-left: 3px solid var(--firebrick);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #18181d;
  border-radius: 0;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: 20px;
  padding: 18px 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #272731;
}

.button.secondary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid #000;
  border-left-width: 3px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.paragraph {
  max-width: 60ch;
}

.paragraph.align-center {
  text-align: center;
}

.paragraph.alert {
  max-width: none;
  margin-bottom: 0;
}

.paragraph.capitalize {
  color: var(--black);
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 17px;
}

.paragraph.inline {
  display: inline-block;
}

.paragraph.m-bottom {
  margin-bottom: 10px;
}

.heading {
  max-width: 28ch;
  color: var(--black);
  margin-bottom: 20px;
}

.heading.subheading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

.heading.align-center {
  text-align: center;
}

.text-wrapper {
  justify-content: space-between;
  display: flex;
}

.img-warmup {
  background-image: url('../images/delariva.jpg');
  background-position: 50% 0;
  background-size: cover;
}

.img-technique {
  background-image: url('../images/mast-head.jpg');
  background-position: 50%;
  background-size: cover;
}

.img-combat {
  background-image: url('../images/48221758_1047564665404190_4315072295610613760_o.jpg');
  background-position: 50%;
  background-size: cover;
}

.hero-section {
  min-height: 800px;
  grid-column-gap: 0px;
  grid-template-rows: auto;
}

.hero-image {
  background-image: url('../images/57456917_1138950952932227_1052618423218995200_o.jpg');
  background-position: 50%;
  background-size: cover;
}

.button-wrapper {
  display: flex;
}

.hero-title {
  padding-left: 60px;
  padding-right: 100px;
}

.training-section {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.text-block {
  margin-top: 30px;
}

.training-photo {
  height: 480px;
}

.training-photo.img-warmup {
  background-position: 50%;
}

.section-header {
  margin-bottom: 100px;
}

.background {
  width: 100vw;
  background-color: var(--white-smoke);
  align-items: center;
  margin-bottom: 140px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.debut-description {
  background-color: var(--white);
  padding: 80px;
}

.debut-column {
  flex-direction: row;
  flex: 1;
  align-self: stretch;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.columns {
  flex-direction: row;
  display: flex;
}

.imgs-social {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 60px;
}

.imgs-yoga {
  grid-template-rows: auto auto auto auto;
}

.section-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-grid.bottom {
  padding-bottom: 0;
}

.img-yoga {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.img-competition {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 34% 50%;
}

.img-girls {
  width: 100%;
  object-fit: cover;
  object-position: 30% 50%;
}

.img-kids {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 50% 77%;
}

.vie-description {
  background-color: var(--white);
  padding: 80px;
}

.infos-covid {
  background-color: var(--seashell);
  color: var(--red);
  border-radius: 8px;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 40px;
  display: flex;
}

.horaires {
  width: 150px;
  margin-right: 20px;
  display: inline-block;
}

.map {
  height: 100%;
}

.label {
  border: 1px solid var(--dark-grey);
  text-transform: uppercase;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
}

.link {
  color: var(--firebrick);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infos-grid {
  grid-row-gap: 48px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 60px;
}

.tarifs-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  margin-bottom: 60px;
}

.tarifs-grid.mulhouse {
  grid-template-rows: auto;
}

.price {
  color: var(--black);
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.subtitle {
  color: var(--black);
  margin-bottom: 20px;
  font-size: 16px;
}

.price-wrapper {
  border: 1px solid var(--dark-grey);
  padding: 40px;
}

.img-apropos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-link {
  opacity: .7;
  color: var(--black);
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  display: flex;
}

.footer-link:hover {
  opacity: 1;
}

.footer-link-wrapper {
  align-items: center;
  display: flex;
}

.footer-section {
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
}

.footer {
  border-top: 1px solid #ebedee;
}

.footer-logo {
  opacity: .7;
  color: #18181d;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.footer-logo:hover {
  opacity: 1;
}

.footer-grid {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
}

.footer-right-column {
  align-items: center;
  display: flex;
}

.text-block-2 {
  text-transform: uppercase;
  margin-left: 5px;
  font-size: 12px;
}

.img-debut, .img-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-training {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 991px) {
  p {
    font-size: 18px;
    line-height: 140%;
  }

  .nav-link {
    margin-left: 0;
    margin-right: 0;
    padding: 14px 24px;
    display: block;
  }

  .menu-button {
    margin-left: 24px;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section.centered {
    align-items: flex-start;
  }

  .nav-wrap {
    grid-column-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .nav-menu {
    z-index: 15;
    background-color: #fff;
    border-bottom: 1px solid #ebedee;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar1 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .paragraph {
    font-size: 18px;
    line-height: 140%;
  }

  .paragraph.align-center {
    text-align: left;
  }

  .paragraph.capitalize {
    font-size: 16px;
  }

  .heading {
    margin-top: 0;
    font-size: 28px;
    line-height: 36px;
  }

  .heading.subheading {
    font-size: 18px;
    line-height: 24px;
  }

  .heading.align-center {
    text-align: left;
  }

  .hero-section {
    min-height: auto;
  }

  .hero-image {
    height: 300px;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .hero-title {
    padding: 60px 40px;
  }

  .training-section {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .training-photo.img-warmup, .training-photo.img-technique, .training-photo.img-combat {
    height: 350px;
  }

  .section-header {
    margin-bottom: 60px;
  }

  .background {
    padding-left: 20px;
    padding-right: 20px;
  }

  .debut-description {
    padding: 60px;
  }

  .columns {
    flex-direction: column;
  }

  .imgs-social {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .imgs-yoga {
    margin-top: 40px;
  }

  .section-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .img-yoga-big {
    width: 100%;
    object-fit: cover;
  }

  .img-competition {
    padding-top: 40px;
  }

  .img-girls {
    padding-bottom: 40px;
  }

  .vie-description {
    padding: 60px;
  }

  .horaires {
    font-size: 18px;
    line-height: 140%;
  }

  .map {
    height: 300px;
  }

  .infos-grid {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .tarifs-grid {
    grid-template-columns: 1fr;
  }

  .price {
    font-size: 36px;
    line-height: 130%;
  }

  .subtitle {
    font-size: 14px;
    line-height: 140%;
  }

  .img-apropos {
    height: 400px;
    object-position: 50% 38%;
    margin-bottom: 40px;
  }

  .footer-link {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer-grid {
    width: 100%;
    max-width: 738px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .footer-right-column {
    flex-direction: column;
  }

  .img-hero, .img-training {
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-button {
    margin-left: 20px;
  }

  .section {
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-wrap {
    grid-column-gap: 20px;
  }

  .navbar1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .button {
    margin-right: 0;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .training-photo.img-warmup {
    background-position: 80%;
  }

  .background {
    margin-bottom: 100px;
    padding: 100px 10px;
  }

  .debut-description {
    background-color: rgba(0, 0, 0, 0);
    padding: 40px 0 0;
  }

  .columns {
    padding-left: 20px;
    padding-right: 20px;
  }

  .vie-description {
    background-color: rgba(0, 0, 0, 0);
    padding: 0 0 40px;
  }

  .label {
    margin-top: 0;
  }

  .infos-grid {
    padding-bottom: 0;
  }

  .prof-grid {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .price-wrapper {
    padding: 20px;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .footer-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-grid {
    max-width: none;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .footer-right-column {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    padding-left: 16px;
    padding-right: 16px;
  }

  .menu-button {
    margin-left: 16px;
  }

  .section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .nav-logo {
    font-size: 18px;
  }

  .navbar1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .button {
    width: 240px;
    flex: none;
    align-self: stretch;
  }

  .paragraph.capitalize {
    margin-top: 20px;
  }

  .hero-title {
    padding-left: 30px;
    padding-right: 30px;
  }

  .columns {
    padding-left: 0;
    padding-right: 0;
  }

  .horaires {
    margin-top: 10px;
    margin-bottom: 0;
    display: block;
  }

  .footer-section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer-grid {
    grid-column-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer-right-column {
    text-align: center;
    flex-direction: column;
  }
}

#w-node-afb315e8-f12f-f28f-97b6-b53a50b1349d-4fd0acf1 {
  align-self: center;
  justify-self: end;
}

#w-node-_61cec293-d05d-4ab8-d2b8-5af54806a8cf-4fd0acf1 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_813038ad-cf83-640e-7c19-c5f87e00a4e0-4fd0acf1 {
  grid-area: 1 / 9 / 2 / 13;
}

#w-node-b18b2039-9da1-3fd1-de8c-10f41f1cef8f-4fd0acf1 {
  grid-area: span 1 / span 7 / span 1 / span 7;
  align-self: center;
}

#w-node-_190416dd-643d-d094-5b22-a3304b871fa5-4fd0acf1 {
  grid-area: 1 / 9 / 2 / 13;
}

#w-node-edb6873b-618c-99a8-599b-9dec842c2adf-4fd0acf1 {
  grid-area: span 1 / span 7 / span 1 / span 7;
  align-self: end;
}

#w-node-f7ec86c2-8b0a-284f-8e52-bd87dc37c613-dc37c610 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: center;
  justify-self: start;
}

#w-node-f7ec86c2-8b0a-284f-8e52-bd87dc37c615-dc37c610 {
  grid-area: span 1 / span 8 / span 1 / span 8;
  align-self: center;
  justify-self: end;
}

#w-node-_20bd1ad8-ccfd-f3f8-1500-163cbd1315fe-bd1315f6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_0d2bcc1d-4d29-d479-a4f1-93455fca3537-0d045f65 {
  grid-area: 3 / 1 / 4 / 7;
}

#w-node-_10a5bb5c-c1cd-e106-6124-78d80f4cfbb6-0d045f65 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-a77a1cdc-ef6f-f010-71f9-c6cd88a31804-0d045f65 {
  grid-area: 1 / 8 / 4 / 13;
}

#w-node-ee1472ba-4d26-04a8-1703-93460db2ff36-0d045f65 {
  grid-area: 2 / 1 / 3 / 7;
}

#w-node-_3771fbd7-70cf-be18-5325-4cbd38ab9aa2-0d045f65 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-_3771fbd7-70cf-be18-5325-4cbd38ab9aab-0d045f65 {
  grid-area: 1 / 8 / 4 / 13;
}

#w-node-_5cc06a9f-d0fc-8d2d-e0ea-1adb48b9a100-0d045f65 {
  grid-area: 2 / 1 / 3 / 7;
}

#w-node-_089f8fdd-a87d-82fa-bfaa-dac73c8382d6-0d045f65 {
  grid-area: 3 / 1 / 4 / 7;
}

#w-node-aee17fa4-b29a-3145-e1d7-3b4659fbc846-0d045f65 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-d3358ac6-eeba-3755-d46b-a422a9b8ed67-0d045f65 {
  grid-area: 1 / 7 / 2 / 13;
}

@media screen and (max-width: 991px) {
  #w-node-afb315e8-f12f-f28f-97b6-b53a50b1349d-4fd0acf1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: stretch;
  }

  #w-node-_61cec293-d05d-4ab8-d2b8-5af54806a8cf-4fd0acf1 {
    grid-column: 1 / 3;
  }

  #w-node-_34f5f1e9-f487-5c0d-2d50-01e006c9839a-4fd0acf1, #w-node-e54b7e51-5df2-dfb8-8b09-79ce2d667006-4fd0acf1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: stretch;
  }

  #w-node-da577667-7806-bdfa-e27e-51600e4b7ecd-4fd0acf1 {
    grid-area: span 2 / span 1 / span 2 / span 1;
    justify-self: stretch;
  }

  #w-node-_813038ad-cf83-640e-7c19-c5f87e00a4e0-4fd0acf1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-b18b2039-9da1-3fd1-de8c-10f41f1cef8f-4fd0acf1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
  }

  #w-node-_190416dd-643d-d094-5b22-a3304b871fa5-4fd0acf1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-edb6873b-618c-99a8-599b-9dec842c2adf-4fd0acf1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: end;
  }

  #w-node-f7ec86c2-8b0a-284f-8e52-bd87dc37c613-dc37c610 {
    grid-area: span 1 / span 8 / span 1 / span 8;
    justify-self: center;
  }

  #w-node-f7ec86c2-8b0a-284f-8e52-bd87dc37c615-dc37c610 {
    grid-column: span 8 / span 8;
    justify-self: center;
  }

  #w-node-_0d2bcc1d-4d29-d479-a4f1-93455fca3537-0d045f65 {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-_10a5bb5c-c1cd-e106-6124-78d80f4cfbb6-0d045f65 {
    grid-column-end: 2;
  }

  #w-node-a77a1cdc-ef6f-f010-71f9-c6cd88a31804-0d045f65 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-ee1472ba-4d26-04a8-1703-93460db2ff36-0d045f65 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_3771fbd7-70cf-be18-5325-4cbd38ab9aa2-0d045f65 {
    grid-column-end: 2;
  }

  #w-node-_3771fbd7-70cf-be18-5325-4cbd38ab9aab-0d045f65 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_5cc06a9f-d0fc-8d2d-e0ea-1adb48b9a100-0d045f65 {
    grid-row: 3 / 4;
    grid-column-end: 2;
  }

  #w-node-_089f8fdd-a87d-82fa-bfaa-dac73c8382d6-0d045f65 {
    grid-row: 4 / 5;
    grid-column-end: 2;
  }

  #w-node-aee17fa4-b29a-3145-e1d7-3b4659fbc846-0d045f65 {
    grid-column: span 1 / span 1;
  }

  #w-node-d3358ac6-eeba-3755-d46b-a422a9b8ed67-0d045f65 {
    grid-column: 1 / 2;
    grid-row-start: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f7ec86c2-8b0a-284f-8e52-bd87dc37c613-dc37c610 {
    grid-column: span 6 / span 6;
  }

  #w-node-f7ec86c2-8b0a-284f-8e52-bd87dc37c615-dc37c610 {
    grid-area: span 1 / span 6 / span 1 / span 6;
    align-self: center;
    justify-self: center;
  }

  #w-node-_63bd56ea-3f82-e978-1211-1524fb84c60e-0d045f65 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_5ac5de97-354e-3df8-7add-250595a6be91-0d045f65 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-d01de82a-1bde-cd8c-6c08-6eb15f388c71-0d045f65 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_1b446147-18dc-6182-8766-54e9a32f30f2-0d045f65 {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-_238fbe95-4d36-d8da-44cf-d62c9e31d649-0d045f65 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-ac361563-af44-9b60-22f3-9581cc8ef326-0d045f65 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_9da1b588-d771-96a8-81a0-6d6271f6e57d-0d045f65 {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f7ec86c2-8b0a-284f-8e52-bd87dc37c613-dc37c610, #w-node-f7ec86c2-8b0a-284f-8e52-bd87dc37c615-dc37c610 {
    grid-column: span 4 / span 4;
  }
}


@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}