---
layout: default
title: Infos Pratiques — Infini Jiu-Jitsu
---
{% include mast-head.html %}
{% include menu-en.html %}

<h2>
	infos pratiques
</h2>

<h3>
	Horaires et lieux d'entraînement
</h3>

<table class="entrainements">
	<thead></thead>
	<tbody>
		<tr>
			<th>
				Mardi
			</th>
			<td>
				20:15 – 22:00
			</td>
			<td class="lieu">
				Lixenbuhl
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
		<tr>
			<th>
				Jeudi
			</th>
			<td>
				20:15 – 22:00
			</td>
			<td class="lieu">
				Lixenbuhl
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
		<tr>
			<th rowspan="3">
				Vendredi
			</th>
			<td>
				18:00 – 19:15
			</td>
			<td class="lieu" rowspan="3">
				Robert Schaeffer
			</td>
			<td class="note">
				Judo
			</td>
		</tr>
		<tr>
			<td>
				18:00 – 19:15
			</td>
			<td class="note">
				JJB enfants
			</td>
		</tr>
		<tr>
			<td>
				19:15 – 21:00
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
	</tbody>
</table>

<h3>
	Adresses
</h3>

<address>
	<p>
		Centre Sportif du Lixenbuhl<br>
		4 rue de Lixenbuhl<br>
		67400 Illkirch-Graffenstaden
	</p>
	
	<ul>
		<li>
			Tram A, Arrêt Lixenbuhl
		</li>
	</ul>
</address>

<address>
	<p>
		Dojo Schaeffer<br>
		Centre Nautique de Schiltigheim<br>
		9 rue de Turènne<br>
		67300 Schiltigheim
	</p>
	
	<ul>
		<li>
			Bus 6, arrêt Poincaré
		</li>
		<li>
			Bus 6a et 70, arrêt Georges Burger
		</li>
		<li>
			Bus de l'été, arrêt Salle des Fêtes — Ballastière
		</li>
	</ul>
</address>

<div id="map-wrapper">
	<div id="map"></div>
</div>

<h3>
	Tarifs
</h3>

<table class="tarifs">
	<thead>
		<tr>
			<th></th>
			<th>
				Adultes
			</th>
			<th>
				Étudiants
			</th>
			<th>
				Femmes débutantes
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				<strong>Tarif annuel</strong>
				(saison sportive de aout à juillet 2016)
			</th>
			<td>
				<strong>295€</strong>
			</td>
			<td>
				<strong>195€</strong><br />
				sur présentation de la carte étudiante
			</td>
			<td>
				<strong>30€</strong><br />
				le 1<sup>er</sup> mois puis<br />
				<strong>165€</strong>
				(valable la 1<sup>ère</sup> saison)
			</td>
		</tr>
		<tr>
			<th>
				<strong>Cours</strong>
			</th>
			<td>
				illimités
			</td>
			<td>
				illimités
			</td>
			<td>
				illimités
			</td>
		</tr>
		<tr>
			<th>
				<strong>Licence CFJJB</strong>
			</th>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
		</tr>
		<tr>
			<th>
				<strong>Passeport sportif CFJJB</strong> (sur demande)
			</th>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
		</tr>
		<tr>
			<th>
				<strong>Séances d'essai gratuites</strong>
			</th>
			<td>
				3
			</td>
			<td>
				3
			</td>
			<td>
				1 mois
			</td>
		</tr>
		<tr>
			<th>
				<strong>Paiement</strong>
				(chèque ou espèces)
			</th>
			<td>
				1 ou 3 mensualités maximum
			</td>
			<td>
				1 ou 3 mensualités maximum
			</td>
			<td>
				1 ou 3 mensualités maximum
			</td>
		</tr>
	</tbody>
</table>

<h3>
	Inscription
</h3>

<p>
	Les inscriptions et paiements ont lieu sur place.<br />
	Pièces à fournir :
</p>

<ul>
	<li>
		Certificat médical avec la mention “apte à la pratique du jiu-jitsu brésilien en compétition”
	</li>
	<li>
		<a href="{{ site.baseurl }}/contrat.pdf" target="_blank">Le formulaire d’inscription</a> dûment complété
	</li>
</ul>

<h3>
	Contact
</h3>

<p>
	Pour toute question complémentaire, vous pouvez joindre Salah Mezhoud au <a href=é"telto:0762609056">07 62 60 90 56</a>, envoyer un mail à <a href="mailto:infini.jiujitsu@gmail.com">infini.jiujitsu@gmail.com</a> ou nous contacter via <a href="https://www.facebook.com/pages/Infini-Jiu-Jitsu/411453555681974">notre page Facebook</a>.
</p>

<h3>
	Équipement
</h3>

<p>
	Les entraînements se déroulent en Gi (kimono) ou avec une tenue de sport propre pour les séances d’essai. L’accès au tatami est interdit aux chaussures, veuillez prévoir des claquettes ou tongs.
</p>

{% include maps.html %}