---
layout: default
title: Infos Pratiques — Infini Jiu-Jitsu
---
{% include logo-head.html %}
{% include menu-en.html current="contact" %}

<h2>
	Informations
</h2>

<h3>
	Training schedule
</h3>

<table class="entrainements">
	<thead></thead>
	<tbody>
		<tr>
			<th>
				Tuesday
			</th>
			<td>
				20:15 – 22:00
			</td>
			<td class="note">
				BJJ
			</td>
		</tr>
		<tr>
			<th>
				Thursday
			</th>
			<td>
				20:15 – 22:00
			</td>
			<td class="note">
				BJJ
			</td>
		</tr>
		<tr>
			<th>
				Friday
			</th>
			<td>
				20:15 – 22:00
			</td>
			<td class="note">
				BJJ
			</td>
		</tr>
		<tr>
			<th>
				Saturday
			</th>
			<td>
				14:00 – 15:00
			</td>
			<td class="note">
				Kids class (aged 8 and above)
			</td>
		</tr>
		<tr>
			<th>
			</th>
			<td>
				14:00 – 16:00
			</td>
			<td class="note">
				Open mat
			</td>
		</tr>
	</tbody>
</table>

<h3>
	Adresses
</h3>

<address>
	<p>
		Centre Sportif du Lixenbuhl<br>
		24 rue de Lixenbuhl<br>
		67400 Illkirch-Graffenstaden
	</p>
	
	<ul>
		<li>
			Tram A, stop at Lixenbuhl
		</li>
	</ul>
</address>

<div id="map-wrapper">
	<div id="map"></div>
</div>

<h3>
	Fees
</h3>

<table class="tarifs">
	<thead>
		<tr>
			<th></th>
			<th>
				Adult
			</th>
			<th>
				Students
			</th>
			<th>
				Female beginners
			</th>
			<th>
				Kids<br /> 
				(8+ years old)
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				<strong>Annual fee</strong>
				(from august 2016 to july 2017)
			</th>
			<td>
				295€
			</td>
			<td>
				195€
                <br />
				requires a student card
			</td>
			<td>
				<strong>30€</strong><br />
				the first month then<br />
				165€
				(first season only)
			</td>
			<td>
				130€
			</td>
		</tr>
		<tr>
			<th>
				<strong>Classes</strong>
			</th>
			<td>
				unlimited
			</td>
			<td>
				unlimited
			</td>
			<td>
				unlimited
			</td>
			<td>
				saturday afternoon
			</td>
		</tr>
		<tr>
			<th>
				<strong>CFJJB License</strong>
			</th>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
		</tr>
		<tr>
			<th>
				<strong>CFJJB passeport</strong> (on demand)
			</th>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
		</tr>
		<tr>
			<th>
				<strong>Trial classes</strong>
			</th>
			<td>
				3
			</td>
			<td>
				3
			</td>
			<td>
				1 month
			</td>
			<td>
				3
			</td>
		</tr>
		<tr>
			<th>
				<strong>Payment</strong>
				(cheques or cash)
			</th>
			<td>
				Up to 3 monthly installments
			</td>
			<td>
				Up to 3 monthly installments
			</td>
			<td>
				Up to 3 monthly installments
			</td>
			<td>
				Up to 3 monthly installments
			</td>
		</tr>
	</tbody>
</table>

<h3>
	Registration
</h3>

<p>
	Registration and payments are made on location.<br />
	Please bring:
</p>

<ul>
	<li>
		Medical certificate with the mention “apte à la pratique du jiu-jitsu brésilien en compétition”
	</li>
	<li>
		<a href="{{ site.baseurl }}/contrat.pdf" target="_blank">The registration form</a>, completed
	</li>
</ul>

<h3>
	Contact
</h3>

<p>
	If you have furtehr questions, you can reach Salah Mezhoud by phone on <a href="telto:+33762609056">+33 7 62 60 90 56</a>, send an email to <a href="mailto:infini.jiujitsu@gmail.com">infini.jiujitsu@gmail.com</a> or reach us on <a href="https://www.facebook.com/pages/Infini-Jiu-Jitsu/411453555681974">our Facebook page</a>.
</p>

<h3>
	Gear
</h3>

<p>
	Trainings are done in a gi (kimono) or with a clean sport outfit during trial classes. Please bring a pair of tongs as access to the mats with shoes is forbidden.
</p>

{% include maps.html %}