---
layout: default
title: Infini Jiu-Jitsu
---
{% include mast-head.html %}
{% include menu-en.html %}

<h2>
	Brazilian Jiu-Jitsu
</h2>

<p>
	Brazilian Jiu-Jitsu (BJJ) is a martial art which came from Judo and Japanese (traditional) Jiu-Jitsu. Since its inception in the 1920’s in Brazil, this combat sport is booming all over the world.
</p>

<p>
	BJJ focuses on ground fighting and the use of joint-locks or chokeholds to defeat an opponent rather than using striking techniques. This is a strategy and a combat art which allows anyone, no matter the size or weight, to defeat a stronger and heavier opponent. BJJ enables anybody to develop his/her own fighting (combat) style.
</p>

<h2>
	Combat sport and fitness
</h2>

<p>
	If this art is an efficient self-defence method, everybody could find a way to practice it: by the strategy and the combat techniques or the fitness.
</p>

<h2>
	Infini Jiu-Jitsu Brésilien Strasbourg
</h2>

<p>
	The Brazilian Jiu-Jitsu constantly evolves and offers infinite learning, helped by the sharing between its followers and their inputs. These values are dear to Infini Jiu-Jitsu, the historical Brazilian Jiu-Jitsu and grappling club of Strasbourg. Infini Jiu-Jitsu offers all level classes and welcomes new people and visitors on the mats!
</p>