---
layout: default
title: Infos Pratiques — Infini Jiu-Jitsu
---
{% include mast-head.html %}
{% include menu.html %}

<h2>
	infos pratiques
</h2>

<h3>
	Horaires et lieux d'entraînement
</h3>

<table class="entrainements">
	<thead></thead>
	<tbody>
		<tr>
			<th>
				Mardi
			</th>
			<td>
				20:15 – 22:00
			</td>
			<td class="lieu">
				Lixenbuhl
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
		<tr>
			<th>
				Jeudi
			</th>
			<td>
				20:15 – 22:00
			</td>
			<td class="lieu">
				Lixenbuhl
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
		<tr>
			<th rowspan="3">
				Vendredi
			</th>
			<td>
				18:00 – 19:15
			</td>
			<td class="lieu" rowspan="3">
				Robert Schaeffer
			</td>
			<td class="note">
				Judo
			</td>
		</tr>
		<tr>
			<td>
				18:00 – 19:15
			</td>
			<td class="note">
				JJB enfants
			</td>
		</tr>
		<tr>
			<td>
				19:15 – 21:00
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
	</tbody>
</table>

<h3>
	Adresses
</h3>

<p>
	Centre Sportif du Lixenbuhl
	4 rue de Lixenbuhl
	67400 Illkirch-Graffenstaden
	
	Tram A — Arrêt Lixenbuhl
</p>

<p>
	Dojo Schaeffer — Centre Nautique
	9 rue de Turènne
	67300 Schiltigheim
	
	Bus 6 — arrêt Poincaré
	Bus 6a et 70 — arrêt Georges Burger
	Bus de l'été — arrêt Salle des Fêtes — Ballastière
</p>

<div id="map-wrapper">
	<div id="map"></div>
</div>

<h3>
	Taris
</h3>

<table>
	<thead>
		<tr>
			<th></th>
			<th>
				Adultes
			</th>
			<th>
				Étudiants
			</th>
			<th>
				Femmes
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				Tarif annuel
				(saison sportive de aout à juillet 2016)
			</th>
			<td>
				295€
			</td>
			<td>
				195€
				sur présentation de la carte étudiante
			</td>
			<td>
				30€
				le 1<sup>er</sup> mois puis
				165€
				(valable la 1<sup>ère</sup> saison)
			</td>
		</tr>
		<tr>
			<td>
				Cours
			</td>
			<td>
				illimités
			</td>
			<td>
				illimités
			</td>
			<td>
				illimités
			</td>
		</tr>
		<tr>
			<th>
				Licence CFJJB
			</th>
			<td>
				x
			</td>
			<td>
				x
			</td>
			<td>
				x
			</td>
		</tr>
		<tr>
			<th>
				Licences de lutte (FFL), judo (FFJDA)
				(sur demande)
			</th>
			<td>
				x
			</td>
			<td>
				x
			</td>
			<td>
				x
			</td>
		</tr>
		<tr>
			<th>
				Scéances d'essai gratuites
			</th>
			<td>
				3
			</td>
			<td>
				3
			</td>
			<td>
				1 mois
			</td>
		</tr>
		<tr>
			<th>
				Paiement (chèque ou espèces)
			</th>
			<td>
				1 ou 3 mensualités maximum
			</td>
			<td>
				1 ou 3 mensualités maximum
			</td>
			<td>
				1 ou 3 mensualités maximum
			</td>
		</tr>
	</tbody>
</table>

<h3>
	Inscription
</h3>

<p>
	Les inscriptions et paiements ont lieu sur place.<br />
	Pièces à fournir :
</p>

<ul>
	<li>
		Certificat médical avec la mention “apte à la pratique du jiu-jitsu brésilien en compétition”
	</li>
	<li>
		<a href="">Le formulaire d’inscription</a> dûment complété
	</li>
</ul>

<h3>
	Contact
</h3>

<p>
	Pour toute question complémentaire, vous pouvez joindre Salah Mehzoud au 06484894089, envoyer un mail à <a href="mailto:infini.jiujitsu@gmail.com">infini.jiujitsu@gmail.com</a> ou nous contacter via <a href="">notre page Facebook</a>.
</p>

<h3>
	Équipement
</h3>

<p>
	Les entraînements se déroulent en Gi (kimono) ou avec une tenue de sport propre pour les séances d’essai. L’accès au tatami est interdit aux chaussures, veuillez prévoir des claquettes ou tongs.
</p>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        
<script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);
    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 12,
            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng(48.57257411793179, 7.72075104999999), 
            scrollwheel: false,
            
            // How you would like to style the map. 
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
        };
        // Get the HTML DOM element that will contain your map 
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');
        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);
    
    	var geocoder = new google.maps.Geocoder();
    	
		geocoder.geocode( { 'address': 'Centre nautique de Schiltigheim, 9 Rue de Turenne, 67300 Schiltigheim'}, function(results, status) {
		  if (status == google.maps.GeocoderStatus.OK) {
			var marker = new google.maps.Marker({
				map: map,
				position: results[0].geometry.location
			});
		  }
		});
    
    	geocoder.geocode( { 'address': 'Complexe Sportif Lixenbuhl, 24 Rue Lixenbuhl Illkirch-Graffenstaden'}, function(results, status) {
		  if (status == google.maps.GeocoderStatus.OK) {
			var marker = new google.maps.Marker({
				map: map,
				position: results[0].geometry.location
			});
		  }
		});
    
		google.maps.event.addListener(map, 'mousedown', function(){
			map.setOptions({ scrollwheel: true });
		});
    }
</script>