---
layout: default
title: Infos Pratiques — Infini Jiu-Jitsu
---
{% include logo-head.html %}
{% include menu.html current="contact" %}

<h2>
	infos pratiques
</h2>

<h3>
	Horaires et lieux d'entraînement
</h3>

<table class="entrainements">
	<thead></thead>
	<tbody>
		<tr>
			<th rowspan="2">
				Mardi
			</th>
			<td>
				20:15 – 21:45
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
		<tr>
			<td>
				21:45 – 22:00
			</td>
			<td class="note">
				Yoga
			</td>
		</tr>
		<tr>
			<th rowspan="2">
				Jeudi
			</th>
			<td>
				20:15 – 21:45
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
		<tr>
			<td>
				21:45 – 22:00
			</td>
			<td class="note">
				Yoga
			</td>
		</tr>
		<tr>
			<th>
				Vendredi
			</th>
			<td>
				20:15 – 22:00
			</td>
			<td class="note">
				JJB
			</td>
		</tr>
		<tr>
			<th rowspan="2">
				Samedi
			</th>
			<td>
				14:00 – 15:00
			</td>
			<td class="note">
				Cours enfant (plus de 8 ans)
			</td>
		</tr>
		<tr>
			<td>
				14:00 – 16:00
			</td>
			<td class="note">
				Open mat
			</td>
		</tr>
	</tbody>
</table>

<h3>
	Adresse
</h3>

<address>
	<p>
		Centre Sportif du Lixenbuhl<br>
		24 rue de Lixenbuhl<br>
		67400 Illkirch-Graffenstaden
	</p>

	<ul>
		<li>
			Tram A, Arrêt Lixenbuhl
		</li>
	</ul>
</address>

<div id="map-wrapper">
	<div id="map"></div>
</div>

<h3>
	Tarifs
</h3>

<table class="tarifs">
	<thead>
		<tr>
			<th></th>
			<th>
				Adultes
			</th>
			<th>
				Étudiants
			</th>
			<th>
				Femmes débutantes
			</th>
			<th>
				Enfants<br />
				(8+ ans)
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				<strong>Tarif annuel</strong>
				(saison sportive de août 2018 à juillet 2019)
			</th>
			<td>
         295€
			</td>
			<td>
				 195€
                <br />
				sur présentation de la carte étudiante
			</td>
			<td>
				<strong>30€</strong><br />
				le 1<sup>er</sup> mois puis<br />
				165€
				(valable la 1<sup>ère</sup> saison)
			</td>
			<td>
				130€
			</td>
		</tr>
		<tr>
			<th>
				<strong>Cours</strong>
			</th>
			<td>
				illimités
			</td>
			<td>
				illimités
			</td>
			<td>
				illimités
			</td>
			<td>
				samedi après-midi
			</td>
		</tr>
		<tr>
			<th>
				<strong>Licence CFJJB</strong>
			</th>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
		</tr>
		<tr>
			<th>
				<strong>Passeport sportif CFJJB</strong> (sur demande)
			</th>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
			<td>
				✓
			</td>
		</tr>
		<tr>
			<th>
				<strong>Séances d'essai gratuites</strong>
			</th>
			<td>
				3
			</td>
			<td>
				3
			</td>
			<td>
				1 mois
			</td>
			<td>
				3
			</td>
		</tr>
		<tr>
			<th>
				<strong>Paiement</strong>
				(chèque ou espèces)
			</th>
			<td>
				1 ou 3 mensualités maximum
			</td>
			<td>
				1 ou 3 mensualités maximum
			</td>
			<td>
				1 ou 3 mensualités maximum
			</td>
			<td>
				1 ou 3 mensualités maximum
			</td>
		</tr>
	</tbody>
</table>

<h3>
	Inscription
</h3>

<p>
	Les inscriptions et paiements ont lieu sur place.<br />
	Pièces à fournir :
</p>

<ul>
	<li>
		Certificat médical avec la mention “apte à la pratique du jiu-jitsu brésilien en compétition”
	</li>
	<li>
		Le formulaire d’inscription dûment complété: soit <a href="https://framaforms.org/contrat-2018-2019-1534852508" target="_blank">en ligne</a>, soit <a href="{{ site.baseurl }}/contrat-2019.pdf" target="_blank">en version papier</a>.
	</li>
</ul>

<h3>
	Contact
</h3>

<p>
	Pour toute question complémentaire, vous pouvez joindre Salah Mezhoud au <a href="telto:0762609056">07 62 60 90 56</a>, envoyer un mail à <a href="mailto:infini.jiujitsu@gmail.com">infini.jiujitsu@gmail.com</a> ou nous contacter via <a href="https://www.facebook.com/pages/Infini-Jiu-Jitsu/411453555681974">notre page Facebook</a>.
</p>

<h3>
	Équipement
</h3>

<p>
	Les entraînements se déroulent en Gi (kimono) ou avec une tenue de sport propre pour les séances d’essai. L’accès au tatami est interdit aux chaussures, veuillez prévoir des claquettes ou tongs.
</p>

{% include maps.html %}
