---
layout: default
title: Infini Jiu-Jitsu
---
{% include mast-head.html %}
{% include menu.html %}

<h2>
	présentation
</h2>

<p>
	Cet art martial dérivant du Judo et du Jiu-Jitsu traditionnel à vu le jour au Brésil dans les années 1900 et est en expansion constante.
	Plutot que des techniques defrappe, le JJB se focalise sur le combat au sol et l’utilisation de clés articuliaires ou d’étranglements pour faire abandonner son adversaire.
</p>

<p>
	Si la discipline est une méthode de self-defense qui a largement fait ses preuves, tout le monde peut y trouver son compte — que ce soit dans l’aspect stratégique du combat ou encore la remise en forme physique qui découelra nécessairement de la pratique de ce sport.
</p>