---
layout: default
title: Infini Yoga
---

{% include logo-head.html %} {% include menu.html %}

<h1>Le yoga et le jiu-jitsu : un combo parfait pour votre corps!</h1>

<p>
  Dans l'imagination populaire le yoga est une pratique douce, lente et réservée
  aux personnes flexibles. En réalité, cette pratique ancestrale permet à tout
  le monde d'y trouver une source d'épanouissement et de bien être. Peu importe
  sa corpulence, son sexe, ses capacités physiques le yoga s'adapte à chacun.
  Par la pratique posturale, le yoga permet au corps de se muscler et garder une
  plus grande mobilité au niveau des articulations. En y associant le souffle et
  la respiration, le pratiquant fait circuler le "prana" (l'énergie vitale) dans
  son organisme, et oxygène chacune des cellules de son corps avec conscience.
</p>

<div class="mini-galerie">
  <img
    src="img/photos/yoga/respiration-fin.jpg"
    alt="Scéance de méditation en fin de classe"
    data-action="zoom"
  />
  <img
    src="img/photos/yoga/yoga-pose-noirblanc.jpg"
    alt="Huseyin adopte une pose de yoga"
    data-action="zoom"
  />
</div>

<h2>Le yoga est un excellent complément pour les athlètes.</h2>

<p>
  Grâce aux bienfaits de la détente et la récupération physique que procure une
  séance de yoga, l'athlète pourra augmenter son volume d'entraînement sans
  risquer de se blesser. Et s'il se blesse, le yoga lui permettra de se rétablir
  plus rapidement. <br />
  Le yoga compte de nombreuses autres vertus, mais ce n'est que par une pratique
  assidue et l'étude de textes que le yogi pourra explorer ces autres aspects…
</p>

<h2>Le jiu-jitsu et le yoga partagent des valeurs communes.</h2>
<p>
  Sans le savoir, le jiu-jitsuka pratique déjà le yoga. Beaucoup de postures
  (asanas) ressemblent aux "postures" de jiu-jitsu. Pour ne citer que quelques
  exemples, la posture le l'enfant heureux (Ananda Balasana) est excellente pour
  le jeu des gardes ouvertes, la posture du guerrier 2 (Virabhadrasana 2)
  ressemble à celui qui est pris dans la garde De la Riva, etc...
</p>

<p>
  Le yoga, comme le jiu-jitsu, c'est un Lifestyle. <br />
  "L'ego reste en dehors du tapis."
</p>
