<nav class="main-nav">
	<ol>
		<li>
			<a href="{{ site.baseurl }}/en/index.html" {% if (include.current == 'index') %}class="current"{% endif %}>
				infini jiu-jitsu
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/en/contact.html" {% if (include.current == 'contact') %}class="current"{% endif %}>
				useful informations
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/pages/Infini-Jiu-Jitsu/411453555681974">
				facebook
			</a>
		</li>
	</ol>
</nav>

<div class="lang">
	<a href="{{ site.baseurl }}/index.html">fr</a>
	<span>en</span>
</div>
