<nav class="main-nav">
	<ol>
		<li>
			<a href="{{ site.baseurl }}/index.html" {% if (include.current == 'index') %}class="current"{% endif %}>
				infini jiu-jitsu brésilien
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/contact.html" {% if (include.current == 'contact') %}class="current"{% endif %}>
				infos pratiques
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/evenements.html" {% if (include.current == 'evenements') %}class="current"{% endif %}>
				évènements
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/pages/Infini-Jiu-Jitsu/411453555681974">
				facebook
			</a>
		</li>
	</ol>
</nav>

<div class="lang">
	<span>fr</span>
	<a href="{{ site.baseurl }}/en">en</a>
</div>